.main-content {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.right-section {
  flex: 1;
}

.search-controls {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#filter-modal {
  width: 100%;
  max-width: 410px;
}

.filter-modal-content {
  position: relative;
  padding: 40px 40px;
  background-color: rgb(var(--color-white));
  border: 1.2px solid rgb(var(--color-blue-2));
  border-radius: 10px;
}

#filter-modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.filter-modal-toggle {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  background: rgb(var(--color-blue-1));
  width: 100%;
  padding: 12px 16px;
  justify-content: space-between;
  border-radius: 10px;
}

.filter-modal-toggle:hover {
  background: rgb(var(--color-blue-1), 0.9);
}

.filter-modal-toggle:active {
  background: rgb(var(--color-blue-1), 0.8);
}

.filter-modal-toggle span {
  display: block;
  color: rgb(var(--color-white));
}

.selected-filter-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.selected-filter-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 30px;
  font-size: 14px;
  background: rgb(var(--color-light-blue));
  border-radius: 4px;
  color: rgb(var(--color-black));
}

.selected-filter-remove-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  margin: 6px;
}

#term-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 30px;
}

.term-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1.2px solid rgb(var(--color-blue));
  border-radius: 10px;
  padding: 12px 16px;
  width: 100%;
}

.term-card .field,
a {
  font-size: 14px;
  color: rgb(var(--color-blue));
}

.term-card .word-pair {
  font-size: 18px;
  -webkit-text-stroke: 0.5px rgb(var(--color-blue-2));
  font-weight: 400;
  color: rgb(var(--color-blue-2));
}

.term-card .pair-line {
  display: flex;
  align-items: center;
  gap: 8px;
}

.term-card .equivalent-word,
.term-card .equivalent-word a {
  color: rgb(var(--color-blue-1));
  -webkit-text-stroke: 0.5px rgb(var(--color-blue-1));
  font-weight: 400;
  font-size: 18px;
}

.term-card .word-type {
  font-size: 14px;
  color: rgb(var(--color-green));
}

.term-card .term-source {
  font-size: 14px;
}

.term-card .term-source-label {
  font-size: 14px;
  color: rgb(var(--color-gray));
}

.term-controls {
  display: flex;
  gap: 16px;
}

.term-group {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.term-button {
  height: 24px;
}

.term-button svg {
  height: 100%;
}

.term-button path {
  fill: rgb(var(--color-black));
  transition: 200ms ease-out;
}

.term-button .svg-outline path {
  stroke: rgb(var(--color-black));
}

.toggle-all-button {
  margin-left: 16px;
}

.term-group.active {
  display: flex;
}

.term-button.active path {
  fill: rgb(var(--color-blue));
}

.term-button.active .svg-outline path {
  stroke: rgb(var(--color-blue));
}

.term-button:hover path {
  fill: rgb(var(--color-light-blue-2));
}

.term-button:hover .svg-outline path {
  stroke: rgb(var(--color-light-blue));
}

.term-group-title {
  font-size: 14px;
  font-weight: 600;
}

.term-group-sources {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 8px;
}

.term-context-source {
  grid-column: 2;
}

.context-label {
  font-size: 14px;
  color: rgb(var(--color-gray));
}

.filter-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 324px;
  width: 100%;
}

.filter-group {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.filter-group input {
  font-size: 14px;
}

.filter-icon-container {
  width: 20px;
  min-width: 20px;
}

.filter-icon-container img {
  width: 100%;
}

.filter-help {
  cursor: help;
}

.filter-button img {
  width: 100%;
  height: 100%;
}

.select-container {
  position: relative;
  width: 100%;
}

.select {
  font-size: 14px;
}

.select-container img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 8px;
  pointer-events: none;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-list.level-2 {
  margin-left: 30px;
  margin-top: 10px;
  gap: 4px;
}

.checkbox-list.level-3 {
  margin-left: 30px;
  margin-top: 4px;
  gap: 4px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-container .vector-button {
  margin-left: auto;
  rotate: -90deg;
}

.checkbox-container.active .vector-button {
  rotate: 0deg;
}

.checkbox-container input {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid rgb(var(--color-black));
  accent-color: rgb(var(--color-light-blue));
  cursor: pointer;
}

.checkbox-container input:checked {
  background: rgb(var(--color-black));
}

.checkbox-container input::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid rgb(var(--color-black));
  background-color: rgb(var(--color-white));
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: 200ms ease-out;
  pointer-events: all;
  visibility: visible;
}

.checkbox-container input:checked::after {
  background-color: rgb(var(--color-light-blue-2));
}

.checkbox-container label {
  font-size: 16px;
  cursor: pointer;
}

.modal-filter-button {
  width: 100%;
}

#desktop-filters-content {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-content {
    gap: 30px;
  }

  .search-controls {
    gap: 30px;
  }

  #term-list {
    gap: 30px;
  }

  .term-card {
    gap: 20px;
  }

  .term-card .field,
  a {
    font-size: 16px;
  }

  .term-card .word-pair {
    font-size: 24px;
  }

  .term-card .equivalent-word,
  .term-card .equivalent-word a {
    font-size: 24px;
  }

  .term-card .word-type {
    font-size: 16px;
  }

  .term-card .term-source {
    font-size: 16px;
  }

  .term-card .term-source-label {
    font-size: 16px;
  }

  .term-group-title {
    font-size: 16px;
  }

  .filter-modal-content {
    padding: 60px 80px;
  }

  .checkbox-container label {
    font-size: 18px;
  }

  #filter-modal-close-button {
    margin: 30px 40px;
  }

  .select {
    font-size: 18px;
  }

  .filter-group input {
    font-size: 18px;
  }

  #filter-modal {
    max-width: 525px;
  }
}

@media screen and (min-width: 1280px) {
  #desktop-filters-content {
    display: flex;
  }

  .filter-modal-toggle {
    display: none;
  }

  .term-list {
    flex: 1;
  }
}
