.search-controls {
  display: none;
  flex-direction: column;
  gap: 30px;
}

.search-input-container {
  width: 100%;
  display: flex;
  padding: 12px 16px;
  gap: 12px;
  border-radius: 10px;
  border: 1px solid rgb(var(--color-blue-2), 0.7);
}

.search-input-container:focus-within {
  border: 1px solid rgb(var(--color-blue-2), 1);
}

.filter-modal-toggle {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  background: rgb(var(--color-blue-1));
  width: 100%;
  padding: 12px 16px;
  justify-content: space-between;
  border-radius: 10px;
}

.filter-modal-toggle:hover {
  background: rgb(var(--color-blue-1), 0.9);
}

.filter-modal-toggle:active {
  background: rgb(var(--color-blue-1), 0.8);
}

.filter-modal-toggle span {
  display: block;
  color: rgb(var(--color-white));
}

.search-input {
  flex: 1;
  font-size: 18px;
  border: none;
  outline: none;
  color: rgb(var(--color-black));
}

.search-input::placeholder {
  color: rgb(var(--color-gray));
}

.selected-filter-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.selected-filter-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 30px;
  font-size: 14px;
  background: rgb(var(--color-light-blue));
  border-radius: 4px;
  color: rgb(var(--color-black));
}

.selected-filter-remove-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  margin: 6px;
}

#term-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 30px;
}

.term-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1.2px solid rgb(var(--color-blue));
  border-radius: 10px;
  padding: 12px 16px;
}

.term-card .field,
a {
  font-size: 14px;
  color: rgb(var(--color-blue));
}

.term-card .word-pair {
  font-size: 18px;
  font-weight: 600;
  color: rgb(var(--color-blue-2));
}

.term-card .word-type {
  font-size: 14px;
  color: rgb(var(--color-green));
}

.term-card .term-source {
  font-size: 14px;
}

.term-card .term-source-label {
  font-size: 14px;
  color: rgb(var(--color-gray));
}

.term-controls {
  display: flex;
  gap: 16px;
}

.term-group {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.term-button path {
  fill: rgb(var(--color-black));
  transition: 200ms ease-out;
}

.term-button .svg-outline path {
  stroke: rgb(var(--color-black));
}

.term-group.active {
  display: flex;
}

.term-button.active path {
  fill: rgb(var(--color-blue));
}

.term-button.active .svg-outline path {
  stroke: rgb(var(--color-blue));
}

.term-button:hover path {
  fill: rgb(var(--color-light-blue-2));
}

.term-button:hover .svg-outline path {
  stroke: rgb(var(--color-light-blue));
}

.term-group-title {
  font-size: 14px;
  font-weight: 600;
}

.term-group-sources {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
}

.term-context-source {
  grid-column: 2;
}

.context-label{
  font-size: 14px;
  color: rgb(var(--color-gray));
}

.filter-modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 324px;
}

.filter-group {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.filter-button {
  width: 20px;
  height: 20px;
}

.filter-button img {
  width: 100%;
  height: 100%;
}

.select-container {
  position: relative;
  width: 100%;
}

.select-container img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 8px;
  pointer-events: none;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-list.level-2 {
  margin-left: 30px;
  margin-top: 10px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-container .vector-button {
  margin-left: auto;
}

.checkbox-container input {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid rgb(var(--color-black));
  accent-color: rgb(var(--color-light-blue));
  cursor: pointer;
}

.checkbox-container label {
  font-size: 18px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .search-controls {
    display: flex;
  }

  #term-list {
    gap: 30px;
  }

  .term-card {
    gap: 20px;
  }

  .term-card .field,
  a {
    font-size: 16px;
  }

  .term-card .word-pair {
    font-size: 24px;
  }

  .term-card .word-type {
    font-size: 16px;
  }

  .term-card .term-source {
    font-size: 16px;
  }

  .term-card .term-source-label {
    font-size: 16px;
  }

  .term-group-title {
    font-size: 16px;
  }
}
