/* 404 */
.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  margin-top: 170px;
  max-width: 900px;
}

.not-found-title {
  font-size: 28px;
  font-weight: 500;
}

/* About */
.about-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  margin-top: 20px;
}

.about-title{
  font-size: 24px;
}

.about-text{
  font-size: 18px;
}

/* Contact */

.contact-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 20px;
  margin: 0 auto;
  margin-top: 20px;
  width: 580px;
}

.contact-form .input-group:has(textarea){
  grid-column: 1 / 3;
}

.contact-form textarea{
  height: 180px;
  resize: none;
}

.contact-field{
  padding: 10px 12px;
  font-size: 16px;
}

.contact-field :is(input, textarea){
  color: rgb(var(--color-black));
}

.contact-submit{
  width: 100%;
  grid-column: 1 / 3;
}
