.pagination{
  display: flex;
  margin: 0 auto;
  margin-top: 48px;
  width: fit-content;
}

.pagination button{
  display: flex;
  background-color: rgb(var(--color-white));
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 8px;
}

.pagination button.active{
  background-color: rgb(var(--color-light-blue));
}

.pagination button:hover{
  background-color: rgb(var(--color-gray-2));
}
