.header {
  background: rgb(var(--color-light-blue));
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: full;
}

.width-limiter {
  max-width: 1300px;
  margin: 0 auto;
}

.vector-button {
  transition: 100ms ease-out;
}

.vector-button:hover {
  filter: invert(0.15);
}

.vector-button:active {
  filter: invert(0.3);
}

#burger-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: end;
  top: 0;
  right: -100%;
  width: fit-content;
  height: 100vh;
  transition: 250ms ease-out;
  padding: 70px 20px;
  background: rgb(var(--color-blue), 0.85);
  color: rgb(var(--color-white));
}

#menu-button .menu-img {
  width: 100%;
  height: 100%;
}

#burger-menu.active {
  right: 0;
}

#burger-menu nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 12px;
}

#burger-menu a {
  text-decoration: none;
  color: rgb(var(--color-white));
}

.edge-padding {
  padding: 10px 20px;
}

.main-outer {
  padding-top: 60px;
  flex: 1;
}

.footer {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: rgb(var(--color-light-blue));
}

.footer-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer .sub-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer .sub-label {
  font-size: 20px;
  color: rgb(var(--color-blue-2));
}

.footer .sub-input-container {
  display: flex;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid rgb(var(--color-blue-2), 0.7);
  width: 280px;
}

.footer .sub-input-container:focus-within {
  border: 1px solid rgb(var(--color-blue), 1);
}

.footer .sub-input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: rgb(var(--color-blue-2));
}

.footer .sub-input::placeholder {
  color: rgb(var(--color-blue-2), 0.7);
}

.footer .copyright {
  font-size: 18px;
  color: rgb(var(--color-blue-2));
}

.footer .partner-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.footer .partner-title {
  font-size: 20px;
  font-weight: 400;
  color: rgb(var(--color-blue-2));
}

.footer .partner-logos {
  display: flex;
  gap: 20px;
}

.pagination {
  display: flex;
  margin: 0 auto;
  margin-top: 48px;
  width: fit-content;
}

.pagination button {
  display: flex;
  background-color: rgb(var(--color-white));
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 8px;
}

.pagination button.active {
  background-color: rgb(var(--color-light-blue));
}

.pagination button:hover {
  background-color: rgb(var(--color-gray-2));
}

::backdrop {
  background-color: rgba(var(--color-white), 0.7);
}

/*   Open state of the dialog  */
dialog[open] {
  opacity: 1;
  transform: translateY(0) translateX(-50%);
}

/*   Closed state of the dialog   */
dialog {
  position: relative;
  top: 232px;
  left: 50%;
  opacity: 0;
  transform: translateY(-50px) translateX(-50%);
  transition: 250ms ease-out;
  outline: none;
  border: 1.2px solid rgb(var(--color-blue-2));
  border-radius: 10px;
  padding: 50px 60px;
}

#filter-modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

@starting-style {
  dialog[open] {
    opacity: 0;
    transform: translateY(-50px) translateX(-50%);
  }
}

/* Transition the :backdrop when the dialog modal is promoted to the top layer */
dialog::backdrop {
  background-color: rgba(var(--color-white), 0);
  transition: 250ms ease-out;
}

dialog[open]::backdrop {
  background-color: rgba(var(--color-white), 0.7);
}

@starting-style {
  dialog[open]::backdrop {
    background-color: rgba(var(--color-white), 0);
  }
}

.base-field {
  border: 1.2px solid rgb(var(--color-light-blue-2));
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 16px;
  width: 100%;
  color: rgb(var(--color-black)); 
  outline: none;
}

.base-field::placeholder {
  color: rgb(var(--color-gray));
}

.base-field:focus {
  border: 1.2px solid rgb(var(--color-blue));
}

@media screen and (min-width: 768px) {
  .header .logo {
    height: 71px;
  }

  .edge-padding {
    padding: 10px 80px;
  }

  .main-outer {
    padding: 80px;
  }

  #menu-button {
    width: 45px;
    height: 32px;
  }

  #burger-menu {
    padding: 91px 87px;
    padding-left: 30px;
  }

  #burger-menu a {
    font-size: 20px;
  }

  .footer {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  #menu-button {
    display: none;
  }
}
