.term-word-container {
  display: flex;
  flex-direction: column;
}

.term-word-container > *:not(h1):not(.go-back-button-container) {
  margin-bottom: 20px;
}

.term-word-container .term-word-detail {
  -webkit-text-stroke: 0.5px rgb(var(--color-blue-2));
  font-size: 20px;
  font-weight: 400;
  color: rgb(var(--color-blue-2));
  margin-bottom: 30px;
}

.term-word-container .term-word-type {
  font-size: 16px;
  color: rgb(var(--color-green));
}

.term-word-container .term-qualifications {
  font-size: 16px;
  color: rgb(var(--color-black));
}

.term-word-container .term-field {
  color: rgb(var(--color-blue));
}

.term-word-container .term-field a {
  color: rgb(var(--color-blue));
}

.term-word-container section h2 {
  font-size: 16px;
  color: rgb(var(--color-gray));
  margin-bottom: 4px;
  font-weight: 400;
}

.term-word-container section p {
  color: rgb(var(--color-black));
}

.term-word-container section p a {
  color: rgb(var(--color-blue));
}

.term-word-container section ul {
  display: flex;
  gap: 6px;
  list-style-type: none;
}

.term-word-container section ul li a {
  font-size: 16px;
  color: rgb(var(--color-blue));
}

.term-word-container .go-back-button-container {
  width: fit-content;
  height: 45px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 8px 24px;
  gap: 12px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(var(--color-light-blue-2));
  cursor: pointer;
  text-decoration: none;
  transition:
    background-color 150ms,
    border 150ms;
}

.term-word-container .go-back-button-container:hover {
  background-color: rgb(var(--color-light-blue-2));
}

.term-word-container .go-back-button-container:active {
  background-color: rgb(var(--color-blue));
  border: 1px solid rgb(var(--color-blue));
}

.go-back-button-container img {
  transition: filter 150ms;
}

.go-back-button-container:active img {
  filter: invert(1);
}

.go-back-button-container span {
  transition: color 150ms;
}

.go-back-button-container:active span {
  color: rgb(var(--color-white));
}

.go-back-button-container .go-back-button {
  font-size: 18px;
  border: none;
  outline: none;
}

.go-back-button-container span {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .go-back-button-container span {
    font-size: 18px;
  }

  .term-word-container .term-word-detail {
    font-size: 24px;
  }

  .term-word-container .go-back-button-container {
    margin-top: 40px;
  }
}

/* @media screen and (min-width: 1280px) {
} */
